body {
	background: linear-gradient(33deg, rgba(158, 193, 163, 1) 5%, #0C3C47 120%);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100%;
}
@font-face {
	font-family: CronusRound;
	src: url(Cronus\ Round.otf);
	font-weight:normal;
  }
  @font-face {
	font-family: CronusItalic;
	src: url(Cronus\ Italic.otf);
	font-weight:normal;
  }
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.box {
	position: relative;
	top:0px;
	height: 131px;
	margin: 0;
	align-items:center;
	background: transparent;

}

.wrapper .logo{
	position: relative;
	align-items: center;
	justify-content: center;
}

.logo .logologo{
	position: relative;
	display: grid;
	padding-left: 0;
	margin-left: 50%;
	margin-right: 50%;
	top:20px;
	width: 128px;
	height: 28px;
}
.item h1{
	position: relative;
	font-family: CronusRound;
	font:bold;
	font-weight: 800px;
	font-size: 50px;
	text-shadow: 0px 6px 8px 0px #00000040;
	text-align: center;
	color:#092E36;
	letter-spacing: 7px;
}
.color-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}
.color-container .color{
	background:transparent;
	margin: 13px;
	padding: 7px;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 5px 10px rgba(52,87,220,0.08);
	transition: transform 0.3s ease;
}
.color-container .color:active{
	transform: scale(0.95);
}
.color .rect-box{
	border-radius: 5px;
	width:185px;
	height: 188px;
	background: #565656;

}
.color:hover .rect-box{
	filter: brightness(106%);
}
.color .hex-value{
	display: block;
	align-items: center;
	margin: 12px 0 8px;
	font-size: 1.15rem;
	font-weight: 500;
	color: #0B2526;
	text-transform: uppercase;
	font-family: CronusItalic;
}
.refresh-btn{
	position: relative;
	left: 50%;
	margin-top: 40px;
	align-items: center;
	bottom: 40px;
	outline:none;
	font-size: 1.1rem;
	color:azure;
	cursor: pointer;
	font-weight: 500;
	padding: 12px 20px;
	border-radius: 5px;
	background: #0B2526;
	border-style: none;
	box-shadow: 0 5px 10px rgba(182, 187, 206, 0.2);
	transform: translateX(-50%);

}
.characterrefresh{
	position: relative;
	left: 50%;
	margin-top: 40px;
	align-items: center;
	bottom: 40px;
	outline:none;
	font-size: 1.1rem;
	color:azure;
	cursor: pointer;
	font-weight: 500;
	padding: 12px 20px;
	border-radius: 5px;
	background: #0B2526;
	border-style: none;
	box-shadow: 0 5px 10px rgba(182, 187, 206, 0.2);
	transform: translateX(-50%);
}
.characteritems{
	list-style: none;
	display: block;
	align-items: center;
	margin: 12px 0 8px;
	font-size: 3.15rem;
	font-weight: 500;
	color:azure;
	font-family: CronusItalic;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
.environmentrefresh{
	position: relative;
	left: 50%;
	margin-top: 40px;
	align-items: center;
	bottom: 40px;
	outline:none;
	font-size: 1.1rem;
	color:azure;
	cursor: pointer;
	font-weight: 500;
	padding: 12px 20px;
	border-radius: 5px;
	background: #0B2526;
	border-style: none;
	box-shadow: 0 5px 10px rgba(182, 187, 206, 0.2);
	transform: translateX(-50%);
}
.environmentitems{
	list-style: none;
	display: block;
	align-items: center;
	margin: 12px 0 8px;
	font-size: 3.15rem;
	font-weight: 500;
	color:azure;
	font-family: CronusItalic;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
.situationrefresh{
	position: relative;
	left: 50%;
	margin-top: 40px;
	align-items: center;
	bottom: 40px;
	outline:none;
	font-size: 1.1rem;
	color:azure;
	cursor: pointer;
	font-weight: 500;
	padding: 12px 20px;
	border-radius: 5px;
	background: #0B2526;
	border-style: none;
	box-shadow: 0 5px 10px rgba(182, 187, 206, 0.2);
	transform: translateX(-50%);
}
.situationitems{
	list-style: none;
	display: block;
	align-items: center;
	margin: 12px 0 8px;
	font-size: 3.15rem;
	font-weight: 500;
	color:azure;
	font-family: CronusItalic;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
.mediumrefresh{
	position: relative;
	left: 50%;
	margin-top: 40px;
	align-items: center;
	bottom: 40px;
	outline:none;
	font-size: 1.1rem;
	color:azure;
	cursor: pointer;
	font-weight: 500;
	padding: 12px 20px;
	border-radius: 5px;
	background: #0B2526;
	border-style: none;
	box-shadow: 0 5px 10px rgba(182, 187, 206, 0.2);
	transform: translateX(-50%);
}
.mediumitems{
	list-style: none;
	display: block;
	align-items: center;
	margin: 12px 0 8px;
	font-size: 3.15rem;
	font-weight: 500;
	color:azure;
	font-family: CronusItalic;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
.start-btn {
	position: relative;
	margin-top: 300px;
	left: 50%;
	align-items: center;
	outline:none;
	font-size: 3.1rem;
	color:azure;
	cursor: pointer;
	font-weight: 500;
	font-family: CronusRound;
	text-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
	letter-spacing: 5.32px;
	padding: 15px 75px;
	border-radius: 100px;
	background: #0B2526;
	border-style: none;
	box-shadow: 0 5px 10px rgba(182, 187, 206, 0.2);
	transform: translateX(-50%);
}
.start-speech {
	list-style: none;
	display: block;
	align-items: center;
	width: 550px;
	margin: 220px 410px 8px;
	font-size: 3.3rem;
	font-weight: 400;
	letter-spacing: 1.32px;
	color:#0B2526;
	opacity: 0.8999999761581421;
	font-family: CronusItalic;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}
a {
	font-size: 3.3rem;
	font-weight: 400;
	letter-spacing: 1.32px;
	color:azure;
	opacity: 0.8999999761581421;
	font-family: CronusItalic;
	text-decoration: none;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
  }

